
body, html, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
}

header h1 {
    font-size: 24px;
    font-weight: bold;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #ffc107 !important;
}

main {
    padding: 20px 0;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
}

footer p {
    margin: 0;
}


#buscaLotacao {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 20px;
    }
    .navbar-nav {
        text-align: center;
    }
}

